/*
COLOR PALLETE
https://coolors.co/96bbbb-faf3dd-c8d5b9-f2e3bc-696d7d
#96BBBB - cambridge blue
#FAF3DD - beige
#C8D5B9 - pale silver
#F2E3BC - dutch white
#696D7D - dim gray
*/

/* Global styles
------------------------------*/
html, body {
    overflow-x: hidden; /* removed unwanted white space on right side of mobile view */
}
html {
  box-sizing: border-box;
}
*, *: before, *: after {
  box-sizing: inherit;
}

body {
  color: #696D7D;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 16px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #96BBBB;
}
a:hover {
  text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
  }
h2 {
    font-size: 50px;
  }
h1, h2 {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  margin: 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section { /* only child elements within divider element will be selected */
  border-bottom: 1px dashed #696D7D;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/*text-decoration: none removes underline when link is hovered over with mouse*/

/* Profile
------------------------------*/
header {
  background: #96BBBB;
}


/* Projects
------------------------------*/
.projects {
  background: #FAF3DD;
}

.projects a {
  color: #696D7D;
}

.projects .btn {
  color: #FAF3DD;
  background: #96BBBB;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(150, 187, 187, 80%);
}
.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
}
h2 {
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* Work Experience
------------------------------*/
.work-experience {
  background: #C8D5B9;
}


/* Education
------------------------------*/
.education {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25)), url(../images/thumbnail-2.jpg);
  background-size: cover;
  background-position: top left;
  padding-bottom: 30px;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------*/
footer {
  background: #696D7D;
  color: white;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive
------------------------------*/
@media screen and (max-width:749px) {
  h1 {
    font-size: 60px;
    margin-bottom: 12px;
  }
  h1, h2 {
    line-height: 1;
  }
  .contact-list {
    padding: 5px;
  }
  .project-item img {
    width: 100%;
  }
}

@media screen and (min-width:750px) {
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
}
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}


